<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_game.user %>
</p>

<p>
  <b>Game:</b>
  <%= @user_game.game %>
</p>


<%= link_to 'Edit', edit_user_game_path(@user_game) %> |
<%= link_to 'Back', user_games_path %>
