<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @credential.name %>
</p>

<p>
  <b>Password:</b>
  <%= @credential.password %>
</p>

<p>
  <b>User:</b>
  <%= @credential.user %>
</p>


<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
